.food__silder {
  text-align: center;
  position: relative;
  & > h1 {
    margin-bottom: 8px;
  }
  & .foodcard {
    max-width: 320px;
    padding: 10px 0;
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    & img {
      border-radius: 50%;
    }
    & p {
      font-weight: 700;
      font-size: 22px;
      color: #00072d;
    }
  }
}

@media screen and (max-width: 900px) {
  .food__silder {
    text-align: center;
    position: relative;
    & > h1 {
      margin-bottom: 5px;
      font-size: 35px;
    }
  }
}
