.Home-title {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 1 1 250px;
    & h1 {
      text-transform: uppercase;
    }
  }
  & > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    & > p {
      margin-top: 16px;
      margin-bottom: 40px;
    }
  }
  & > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(90px 299px 350px #f75c03);
  }
}
@media screen and (max-width: 1184px) {
  .Home-title {
    & > div {
      & h1 {
        font-size: 35px;
      }
    }
  }
}
@media screen and (max-width: 1060px) {
  .Home-title {
    flex-direction: column;
    text-align: center;
    & br {
      display: none;
    }
    & > div:first-child {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & p {
        margin-bottom: 16px;
      }
    }
    & > div {
      & h1 {
        font-size: 35px;
      }
    }
  }
}
