.login__page {
  & .login__wrapper {
    width: min(100% - 2.25rem, 620px);
    margin-inline: auto;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  & .login__content {
    padding: 27px 0;
    & .login__content__img {
      cursor: pointer;
      position: relative;
      top: -4px;
      left: -40px;
      margin-bottom: 20px;
      & > img {
        max-width: 210px;
        height: auto;
        object-fit: cover;
      }
    }
    & > a {
      margin-bottom: 35px;
    }
    & > h1 {
      margin-bottom: 8px;
    }
    & > p {
      margin-bottom: 40px;
    }

    & .login__form {
      display: flex;
      flex-direction: column;
      gap: 30px;
      & button {
        align-self: center;
      }
    }
    & .login__register {
      margin-top: 30px;
      color: #00072d;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      & a {
        color: #f75c03;
        font-weight: 700;
        letter-spacing: 0.14px;
        text-decoration-line: underline;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .login__page {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    & .login__wrapper {
      width: min(100% - 2.25rem, 620px);
      margin-inline: auto;
      & .login__content {
        & .login__form {
          background: #fff;
          width: 70%;
          margin-inline: auto;
          padding: 10px;
          border-radius: 5px;
          gap: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          & label,
          input::placeholder {
            font-size: 12px;
          }
          & input {
            margin-bottom: 0;
            min-width: 150px;
          }
          & button {
            padding: 10px 0;
            font-size: 13px;
            margin-top: 10px;
          }
        }
        & > h1 {
          margin-bottom: 0px;
        }
        & > p {
          color: #494949;
          margin-bottom: 6px;
          & a {
            color: #ff5f02;
          }
        }
      }
    }
  }
}
