.register__page {
  & .register__wrapper {
    width: min(100% - 2.25rem, 620px);
    margin-inline: auto;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  & .register__content {
    padding: 27px 0;
    & > a {
      margin-bottom: 35px;
    }
    & > h1 {
      margin-bottom: 16px;
    }

    & .register__content__img {
      cursor: pointer;
      position: relative;
      top: -4px;
      left: -40px;
      margin-bottom: 20px;
      & > img {
        max-width: 210px;
        height: auto;
        object-fit: cover;
      }
    }
    & .register__form {
      display: flex;
      flex-direction: column;
      & button {
        align-self: center;
      }
      & .register__form__username {
        display: flex;
        justify-content: space-between;
        gap: 15px;
        & > div {
          flex: 1;
          & input {
            min-width: inherit;
          }
        }
      }
    }
    & .login__register {
      margin-top: 30px;
      color: #00072d;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      & a {
        color: #f75c03;
        font-weight: 700;
        letter-spacing: 0.14px;
        text-decoration-line: underline;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .register__page .register__content .contact__form .contact__form__username {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .register__page {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    & .register__wrapper {
      width: min(100% - 2.25rem, 620px);
      margin-inline: auto;
      & .register__content {
        & .register__form {
          background: #fff;
          width: 70%;
          margin-inline: auto;
          padding: 10px;
          border-radius: 5px;
          & label,
          input::placeholder {
            font-size: 12px;
          }
          & input {
            margin-bottom: 0;
            min-width: 150px;
          }
          & button {
            padding: 10px 0;
            font-size: 13px;
          }
        }
        & > h1 {
          margin-bottom: 0px;
        }
        & > p {
          color: #fff;
          margin-bottom: 6px;
          & a {
            color: #ff5f02;
          }
        }
      }
    }
  }
}
