.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  width: 100%;
  margin-top: 52px;
  height: 136px;
  align-items: center;
  transition: all 0.3s;

  transition: background-color 0.2s, margin-top 0.2s;
  &.scrollshadow {
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(20px);
    box-shadow: 3px 6px 16px rgba(247, 92, 3, 0.06);
    margin-top: 0px;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    & .logo {
      cursor: pointer;
      position: relative;
      top: -4px;
      left: -40px;
      & > img {
        max-width: 210px;
        height: auto;
        object-fit: cover;
      }
    }
    & .profile {
      display: flex;
      column-gap: 15px;
      justify-content: center;
      align-items: center;
      & .cart_icon {
        display: none;
      }
      & .profile__info {
        align-self: stretch;
        display: flex;
        & .profile__name {
          position: relative;
          display: flex;
          align-items: center;
          align-self: stretch;
          gap: 10px;
          cursor: pointer;
          & > p {
            white-space: nowrap;
            color: #0e6ba8;
            font-size: 18px;
            font-weight: 600;
            text-transform: capitalize;
          }

          & .profile__name__dropmenu {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            transform: translateY(74px);
            border-radius: 8px;
            border: 1px solid rgba(233, 236, 237, 0.9);
            background: #fff;
            transition: all 0.25s;
            visibility: hidden;
            opacity: 0;
            z-index: 999;
            overflow-x: hidden;
            &::after {
              content: "";
              position: absolute;
              height: 1px;
              width: 100%;
              background-color: rgba(0, 0, 0, 0.15);
              left: 0;
              top: 50%;
            }
            & > a {
              color: #000;
              font-size: 12px;
              font-weight: 400;
              display: block;
              white-space: nowrap;
              position: relative;
              padding: 13px;
              text-transform: capitalize;
              transition: all 0.25s;
            }
            & > button {
              border: none;
              outline: none;
              background: inherit;
              color: #d81a1a;
              font-size: 10px;
              font-weight: 400;
              cursor: pointer;
              padding: 13px;
              text-transform: capitalize;
              transition: all 0.25s;
            }
            & > :is(button, a):hover {
              opacity: 0.5;
            }
          }
          &:hover .profile__name__dropmenu {
            visibility: visible;
            opacity: 1;
            transform: translateY(64px);
          }
        }
      }
      & > a:first-child {
        color: #00072d;
        font-weight: 400;
        font-size: 18px;
        transition: color 0.2s;
        position: relative;
        white-space: nowrap;
        &:active {
          color: #f75c03;
        }
        &:after {
          content: "";
          pointer-events: none;
          bottom: -4px;
          left: 50%;
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: #f75c03;
          transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
          transition-duration: 400ms;
          transition-property: width, left;
        }
        &:hover {
          color: #f75c03;
        }
        &:hover:after {
          width: 100%;
          left: 0%;
        }
      }
      & > a:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 32px;
        color: #ffffff;
        background: #f75c03;
        box-shadow: 0px 8px 23px rgba(14, 107, 168, 0.11);
        border-radius: 16px;
        transition: background 0.2s;
        &:hover {
          background: #fc6710;
        }
        &:active {
          background: #ec5700;
        }
      }
    }
  }
}

.navbar ul {
  display: flex;
  gap: 64px;
  & .mobile-profile {
    display: none;
  }
  & a {
    color: #00072d;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.2s;
    position: relative;
    white-space: nowrap;
    &.active {
      color: #f75c03;
    }
    &.active::after {
      width: 100%;
      left: 0%;
    }
    &:after {
      content: "";
      pointer-events: none;
      bottom: -4px;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 2px;
      background-color: #f75c03;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
    }
    &:hover {
      color: #f75c03;
    }
    &:hover:after {
      width: 100%;
      left: 0%;
    }
  }
}
@media screen and (max-width: 1200px) {
  .navbar ul {
    gap: 24px;
  }
}
@media screen and (max-width: 1090px) {
  .navbar {
    position: absolute;
    background: #f75c03;
    border: 1px solid #f75c03;
    bottom: -170px;
    left: 0;
    width: 100%;
    transition: transform 0.3s;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top;
    &.visible {
      transform: scaleY(1);
      opacity: 1;
      visibility: visible;
    }
    & ul {
      flex-direction: column;
      align-items: center;
      padding: 20px 0px;
      gap: 15px;
      & a {
        color: #ffffff;

        &.active {
          color: #ffffffde;
        }
        &:hover {
          color: #ffffffde;
        }
        &:after {
          background-color: #ffffff;
        }
      }
    }
  }
}
@media screen and (max-width: 880px) {
  .header {
    margin-top: 86px;
    & > div .logo {
      left: -40px;
      transform: scale(0.8);
    }
    & .profile {
      & > a {
        display: none !important;
      }
      & .cart_icon {
        display: block !important;
        position: relative;
        & span {
          position: absolute;
          top: -10px;
          right: -10px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          background-color: #f75c03;
          color: white;
          border-radius: 50%;
          width: 18px;
          padding: 10px;
          height: 18px;
        }
      }
    }
    & .navbar {
      bottom: -186px;
      & .mobile-profile {
        display: flex;
        gap: 10px;
        & > a {
          color: #f75c03;
          background: #ffffff;
          border-radius: 4px;
          padding: 5px 0px;
          width: 100px;
          text-align: center;
          transition: all 0.25s;
          &:hover {
            transform: translateY(-3px);
          }
          &::after {
            display: none;
          }
          &:active {
            background: #f75c03;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 615px) {
  .header > div .profile .profile__info .profile__name {
    & > :is(p, svg:nth-last-of-type(1)) {
      display: none;
    }
    & .profile__name__dropmenu {
      left: -30px;
    }
  }
}
@media screen and (max-width: 455px) {
  .header > div {
    justify-content: center;
    & .logo {
      left: -40px;
      width: 50%;
      & > img {
        min-width: 50px;
      }
    }
    & .profile {
      column-gap: 15px;
      justify-content: flex-end;
    }
  }
}
