.backdrop-cart {
  position: fixed;
  inset: 0;
  background: rgba(34, 31, 31, 0.51);
  z-index: 999;
  transition: all 0.2s;
  overflow-y: scroll;

  & .cart-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 600px;
    width: 70%;
    z-index: 9999;
    padding-block: 50px;
    padding-inline: 20px;
    background-color: #fff;

    & .close-cart-modal {
      position: absolute;
      top: 13px;
      right: 23px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 500px) {
  .backdrop-cart {
    & .cart-modal {
      width: 90%;
      padding-block: 40px;
      padding-inline: 10px;
    }
    & .close-cart-modal {
      top: 13px;
      right: 23px;
      scale: 0.8;
    }
  }
}
