@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
  min-height: 300vh;
}
a {
  background-color: transparent;
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
ol,
ul,
menu {
  list-style: none;
}
